<ion-view title="Recomendados" id="page2">
  <ion-content padding="true" class="has-header recommended">

    <a class="list card recommended__card" ui-sref="details({id: serie.id})" ng-repeat="serie in vm.series">
      <ion-item class="recommended__card-title">{{ serie.name }}</ion-item>

      <div class="recommended__card-image" back-img="{{ vm.baseImgUrl + serie.backdrop_path }}">
      </div>

      <div class="item item-body recommended__card-info">
        <div class="show-list-numbers-and-dots">
          <p>{{ serie.overview }}</p>
        </div>
      </div>

    </a>

  </ion-content>
</ion-view>
