<ion-view title="Buscar" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="buscar-list2">
      <label class="item item-input" id="buscar-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar serie">
      </label>
      <ion-item class="item-thumbnail-left" id="buscar-list-item12" ui-sref="tabsController.ficha">
        <h2>Serie 1</h2>
        <p style="white-space:normal;">Descripción corta de la serie</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="buscar-list-item13" ui-sref="tabsController.ficha">
        <h2>Serie 2</h2>
        <p style="white-space:normal;">Descripción corta de la serie</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="buscar-list-item14" ui-sref="tabsController.ficha">
        <h2>Serie 3</h2>
        <p style="white-space:normal;">Descripción corta de la serie</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
