<ion-view title="Buscar" id="page3">
  <ion-content padding="true" class="has-header">

    <label class="item item-input" id="buscar-search3">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Buscar serie" ng-model="vm.toSearch" ng-model-options="{debounce: 300}">
    </label>

    <ion-list id="buscar-list2">

      <ion-item class="item-thumbnail-left"
                ui-sref="details({id: serie.id})"
                ng-repeat="serie in vm.searchResult">
        <img ng-if="serie.poster_path" ng-src="{{ vm.baseImgUrl + serie.poster_path }}" />
        <h2>{{ serie.name }}</h2>
        <p style="white-space:normal;">{{ serie.overview }}</p>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
