<ion-tabs class="tabs-icon-top tabs-assertive">

  <!-- List Tab -->
  <ion-tab title="Recomendados" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"
    ui-sref="main.recommended">
    <ion-nav-view name="tab-recommended"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Buscar" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"
           ui-sref="main.search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Favoritos" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"
           ui-sref="main.favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>

</ion-tabs>
